body{ min-height:100vh; margin:0; position:relative; }
header{ min-height:50px; background:lightcyan; }

/* Trick: */
body {
  position: relative;
}

body::after {
  content: '';
  display: block;
  height: 50px; /* Set same as footer's height */
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
}


@media (max-width: 600px) {
  /* styles for small screens */
  .container {
    width: 100%;
  }

  table {
    width: 100%;
  }

  th, td {
    display: table-cell;
  }
}

@media (max-width: 768px) {
  /* styles for tablets */
  .container {
    width: 100%;
  }

  table {
    width: 100%;
  }

  th, td {
    display: table-cell;
  }
}

@media (min-width: 1200px) {
  /* styles for large screens */
  .container {
    width: 70%;
  }

  table {
    width: 100%;
  }

  th, td {
    display: table-cell;
  }
}



